$btn-play-color: #3498db;

.content-map {
  header {
    position: absolute;
    top: 3.4em;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    width: 100%;
    text-align: center;
  }

}

.cityPopUp {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  width: 30%;
  height: 30%;
  top:35%;
  left:35%;
  border-radius: 1em;
  text-align: center;

  .close {
    align-self: flex-start;
    width:25px;
    height:25px;
    display:block;
    text-transform:uppercase;
    text-decoration:none;
    color:#fff;
    font-family:"Tahoma", Helvetica, sans-serif;
    text-align:center;
    font-size:18px;
    line-height:1.4em;
    border-color: #1472ad;
    background-color: #F00;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F00), to(#cc0000));
    background-image: -webkit-linear-gradient(top, #F00, #cc0000);
    background-image: -moz-linear-gradient(top, #F00, #cc0000);
    background-image: -o-linear-gradient(top, #F00, #cc0000);
    background-image: linear-gradient(to bottom, #F00, #cc0000);
    box-shadow:0px 0px 2px 0px #666;
    -moz-box-shadow:0px 0px 2px 0px #666;
    -webkit-box-shadow:0px 0px 2px 0px #666;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    text-indent:1px;
    font-weight:bold;
  }

  .innerPopUp {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .btnPlay {
      background: $btn-play-color;
      background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
      background-image: -moz-linear-gradient(top, #3498db, #2980b9);
      background-image: -ms-linear-gradient(top, #3498db, #2980b9);
      background-image: -o-linear-gradient(top, #3498db, #2980b9);
      background-image: linear-gradient(to bottom, #3498db, #2980b9);
      border-radius: 11px;
      font-family: Arial;
      color: #ffffff;
      font-size: 1.2em;
      padding: 10px 20px 10px 20px;
      margin: 5px;
      text-decoration: none;

      &:hover {
        background: lighten($btn-play-color, 10%);
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
      }
    }

  }

  .cityName {
    font-size: 2em;
  }
}

.map{
  height: 100%;
  width: 100%;
  position: relative;
}

.pin {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50% 50% 50% 0;
  border-radius: 50% 50% 50% 0;
  background: $main-color;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  -ms-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
}

.pin:after {
  font-family: FontAwesome;
  content: "\f001";
  color: $bg-color;
  font-size: 1.8em;
  padding: 15px 18px;
  position: absolute;
  z-index: 999;
  transform: rotate(45deg);
}

.pin:before {
  content: '';
  width: 35px;
  height: 35px;
  margin: 8px 8px 0 8px;
  background: $secondary-color;
  position: absolute;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.about {
  color: $a-color;
  cursor: pointer;
}

.modal-about {
  @extend .cityPopUp;
  width: 50%;
  height: 50%;
  background-color: $bg-color;
  color: $font-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  .modalHeader{
    display: flex;
    align-items: center;
    i{
      margin-right: 0.3em;
      //height: 3em;
    }
    .modalTitle{
      font-family: 'RochelePointRegular';
      font-size: 2.1em;
    }
  }
  hr{
    margin: 2% auto;
    width: 100%;
  }
  .modalInfo {
    line-height: 120%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    strong {
      font-size: 1.1em;
      margin: 3% auto;
    }
    a {
      text-decoration : none;
      font-size: 1.2em;
      color: $a-color;
    }
    span{
      display: block;
    }
  }
  button{
    margin: 3em;
    width: 10em;
  }
}
