$bg-color : #ffffff;
$font-color: #000000;

$main-color: #89849b;
$secondary-color: #2f2f2f;
$btn-bg-color: #3498db;
$btn-hover-color: #3cb0fd;
$btn-font-color: #ffffff;
$btn-font-hover-color: rgba(0, 63, 71, 1);
$btn-border-color: rgba(0, 63, 71, .2);
$canvas-border-color: rgba(1, 151, 171, 1);
$font-text-shadow: rgba(255, 255, 255, .7);
$a-color: #428bca;


